.container {
    display: flex;
    height: 4.5rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    background-image: linear-gradient(to bottom right, #f9eccc, #eea39e);
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo-div {
    width: 20%;
    padding: 7px 10px;
    text-align: center;
    color: black;
    font-family: cursive;
}

.search-div {
    width: 30%;
    padding: 12px 5px;
    text-align: center;

}

.main-div {
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding: 20px 10px;
    text-align: center;
    color: black;
}

.icons-div {
    display: flex;
    width: 20%;
    justify-content: space-around;
    padding: 20px 20px;
    /* text-align: center; */
}