.main_single_page_container {
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    height: auto;
    margin: .6rem;
    border-radius: 1.5rem;
    padding: .2rem;
}

.breadcrumb_container {
    height: 40px;
}

.product_single_page_container {
    display: flex;
    justify-content: space-around;

}

.img_single_page_container {
    width: 40%;
    box-shadow: 0 0 10px white;
    border-radius: 1rem;
}

.img_single_page_container img {
    margin: auto;
    padding: 1rem;
    border-radius: 2rem;
}

.title_single_page_container {
    box-shadow: 0 0 10px white;
    border-radius: 1rem;
    width: 55%;
    padding: 10px;
}

.details_single_page_container {
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.basic_details_single_page_container {
    padding: 1rem;
    border: 2px solid black;
    width: 45%;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
}

.payment_details_single_page_container {
    padding: 1rem;
    border: 2px solid black;
    width: 50%;
    border-radius: 2rem;
}

.payment_option_single_page {
    display: flex;
    justify-content: space-around;
}

.rating_single_page_container {
    margin-top: 10px;
    display: flex;
    justify-content: start;
}